.wrapper {
  width: 100%;
  background-color: var(--background-secondary);
  display: flex;
  justify-content: center;
  .container {
    background-color: inherit;
    .meetUsImage {
      max-width: 80%;
      height: auto;
    }
  }
}
