.container {
  background-color: var(--background-secondary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

  div {
    @media (max-width: 425px) {
      font-size: 0.8rem;
    }
  }

  .logos {
    display: flex;
    gap: 10px;
    margin: 0;

    @media (max-width: 768px) {
      scale: 0.8;
    }

    @media (max-width: 425px) {
      scale: 0.7;
    }

    span {
      margin: 0;
      color: var(--main-title-color);
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .links {
    ul {
      display: flex;
      gap: 50px;
      margin: 0;
      padding: 0;
      list-style-type: none;

      @media (max-width: 950px) {
        gap: 25px;
        font-size: 0.9rem;
      }

      @media (max-width: 768px) {
        gap: 15px;
        font-size: 0.8rem;
      }

      @media (max-width: 645px) {
        display: none;
      }
    }
  }
}
