.background {
  background-color: var(--background-secondary);
  width: 100%;
  display: flex;
  justify-content: center;
}

.reservation {
  min-height: 40vh;
  align-items: center;
  justify-content: center;

  span {
    display: flex;
    font-weight: 500;
    justify-content: center;
    color: var(--main-title-color);
  }
}
.form {
  gap: 2rem;
  width: 12rem;
}

.slots {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  h4 {
    font-weight: 500;
    font-size: 1.5rem;
  }
  @media (max-width: 660px) {
    height: 176px;
  }
  @media (max-width: 555px) {
    height: 224px;
  }
  @media (max-width: 445px) {
    height: 275px;
  }
  @media (max-width: 340) {
    height: 416px;
  }

  .button {
    align-items: center;
    width: 5rem;
    height: 2rem;
    color: var(--main-title-color);
    font-weight: 500;
    font-size: 1.1rem;
    background-color: var(--background-secondary);
    border: var(--main-title-color);
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    cursor: pointer;
  }
  .selectedTime {
    color: var(--background-secondary);
    background-color: var(--main-title-color);
    width: 5rem;
    height: 2rem;
    font-weight: 500;
    font-size: 1.1rem;
    border: var(--main-title-color);
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
  }
}
