:root {
  --background-primary: #f5ead6;
  --background-secondary: #f9f9fb;
  --main-title-color: #203881;
  --text-color: #222429;
  --background-form-color: #e3e7f3;
  --background-error: #fdeded;
  --text-error-color: #5f2120;
}

body {
  background-color: var(--background-primary);
  height: 100%;
  color: var(--text-color);
  margin: 0;
}
