.foodList {
  width: 100%;
  list-style: none;
  padding: 0;
  .course {
    text-transform: capitalize;
  }
  .foodListItem {
    padding: 0.2em 0 0.2em 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    .price {
      color: red;
    }
    .foodListItemLeft {
      display: flex;
      flex-direction: row;
      .name {
        color: blue;
      }
      .description {
        color: green;
      }
    }
  }
}
